<!-- ProductCard.component.html -->
<div class="container mx-auto">
  <div class="row">
    <ng-container class="" *ngFor="let product of products">
      <div class="col col-md-6 col-lg-4 pt-4">
    
        <mat-card class="example-card mx-auto">
          <img mat-card-image [src]="product.immagine" alt="Product Image">
          <mat-card-content>
            <h1 class="pt-3">{{ product.nome }}</h1>
            <p>{{ product.descrizione }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><i class="fa-solid fa-thumbs-up fa-2xl"></i></button>
            <button mat-button><i class="fa-solid fa-share fa-2xl"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
