<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1 class="fw-bolder">Recap</h1>
    <app-Menu></app-Menu>
  </mat-drawer>

  <div class="example-sidenav-content">
    
    <!--Content-->
    <main>
      <button class="classic-btn btn btn-dark" type="button" mat-button (click)="drawer.toggle()">
        <i class="fa-solid fa-right-left pe-2"></i>Menù
      </button>

      <app-Products></app-Products>
      
    </main>

  </div>

</mat-drawer-container>
